* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

.row {
    display: flex;
    gap: 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_bg-celeste {
    padding: 60px;
}

.row-header {
    align-items: center;
}

h2 {
    display: inline-block;
    font-size: 85px;
}

.section-main {
    background-color: #B4D0E7;
    margin: 0 auto;
}

.container-section1 {
    width: 1500px;
    margin: auto;
}

.main-container{
    width: 1100px;
    margin: auto;
}

.col-radio {
    padding-left: 15px;
}

.col1-12 {
    padding: 10px 0;
}

.col4-12 {
    flex-basis: calc((100% * 4) / 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col8-12 {
    flex-basis: 60%;
}

.col-text {
    flex-basis: 40%;
    padding: 30px;
}

.button_bg {
    background-color: #0061FF;
    color: white;
    padding: 20px;
    text-align: center;
}

.arrow {
    font-size: 40px;
}

.col-card {
    flex-basis: calc((100% * 4) / 12);
    flex-wrap: wrap;
}

.col-ultima {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.col-border {
    border: 1px solid lightgrey;
}

.link {
    text-decoration: underline;
    color: #8F92F4;
}

.col-12 {
    flex-basis: 100%;
    margin: 50px 0;
}

.col-header {
    padding: 17px;
    gap: 20px;
}

h3 {
    font-size: 45px;
    margin-bottom: 50px;
}

.utente {
    font-size: 25px;
    margin-bottom: 30px;
}

.radio {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}

.radio-item {
    padding-left: 20px;
}

li.item {
    display: flex;
    gap: 15px;
}

.mese {
    color: gray;
    font-size: 15px;
    padding: 10px ;
}

.check-ok {
    color:  #0061FF;
}

.team {
    text-align: center;
    border-bottom: 1px solid  lightgray;
    padding: 10px;
}

.intro-card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    padding: 20px 0;
}

.search {
    width: max-content;
    border: 1px solid black;
    padding: 10px;
}

.sub-title {
    font-size: 25px;
}

.text {
    padding: 30px 0;
}

.follower {
    width: 700px;
    margin-top: 120px;
    padding-bottom: 50px;
}

.riga {
    display: flex;
    justify-content: center;
}

.col50{
    padding: 100px;
}

.icon-partner {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 50px;
}

.icon-partner.designit {
    background-color:#A2D39B;
    border: 15px solid #D1E9CD;
}

.icon_big_designit {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.container_icon-designit{
    padding: 30px 50px;
}

.container_icon-designit li {
    padding: 25px 0;
}

.icon_big_designit::after {
    content: "";
    width: 100px;
    border-bottom: 1px solid lightgray;
    margin-top: 35px;
}

.icon-partner.asu {
    background-color: #61082B;
}

.icon-partner.florida {
    background-color: #0093CE;
}

.icon-partner.topps {
    background-color:#FF1C1C;
}

.col-card_designit {
    background-color: #F5F5F5;
    flex-basis: calc((100% * 4) / 12);
}

.icon-partner.world {
    background-color: #D5001F;
}

.icon-partner.hearst {
    background-color: #B4D0E7;
}

.icon-partner.lonely {
background-color: #0D2481;
}

.icon-partner.clear {
background-color: #FFD830;
}

.container_bg {
    height: 250px;
    background-color: #B4D0E7;
    font-size: 35px;
    color: #610849;
}

.button_prova-gratuita {
    background-color: white;
    font-size: 22px;
    padding: 25px;
    color: black;
}

.col-card.partner { 
    display: flex;
}

.section_bg_black {
    background-color: black;
    color: white;
    padding: 50px;
}

.col5 {
    flex-basis: calc((100% * 5) / 12);
}

li.item-black {
    padding: 10px 0;
}

.section1 {
    margin-top: 80px;
}

.domande-frequenti.section1 li {
    padding: 35px 0;
    border-top: 1px solid lightgray;
}

.domande-frequenti li:last-child {
    border-bottom: 1px solid lightgray;
}

.riga.black1 {
    margin: 80px 50px;

}

.lingua {
    font-size: 18px;
    margin: 0 50px;
    gap: 10px;
    display: flex;
    border-top: 1px solid white;
    width: 150px;
    padding: 30px 0;
}
