* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

body {
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.row_bg-celeste {
    padding: 60px;
}

h2 {
    display: inline-block;
    text-align: center;
    font-size: 55px;
}

.section {
    background-color: #B4D0E7;
    padding-top: 40px;
    padding:  40px 100px;
}

.container-section1 {
    max-width: 1724px;
}


.main-container{
    width: 1000px;
    margin: 0 auto;
}

.col-radio {
    padding-left: 15px;
}

.col1-12 {
    padding: 10px 0;
}

.col4-12 {
    flex-basis: calc((100% * 4) / 12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col8-12 {
    flex-basis: calc((100% * 8) / 12);
    padding-left: 10px;
}

.button_bg {
    background-color: #0061FF;
    color: white;
    padding: 8px 40px;
    text-align: center;
}

.arrow {
    font-size: 40px;
}

.col-card{
    flex-basis: calc((100% * 4) / 12);
}

.col-ultima {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.col-border {
    border: 1px solid black;
}

.link {
    text-decoration: underline;
    color: #8F92F4;
}

.col-12 {
    flex-basis: 100%;
}

.col-header {
    padding: 17px;
    gap: 20px;
}

h3 {
    font-size: 45px;
    padding-top: 50px;
}

.utente {
    font-size: 25px;
}

.radio {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
}

.radio-item {
    padding-left: 20px;
}

.mese {
    color: gray;
    font-size: 15px;
    padding: 10px ;
}

.check-ok {
    color:  #0061FF;
}

.team {
    text-align: center;
    border-bottom: 1px solid  black;
    padding: 10px;
}

.intro-card {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item {
    padding: 20px;
}

.text {
    padding-top: 40px;
}